<div id="user_form" class="ui fluid form segment">
  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="two fields">
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder:"姓", size:"10" %>
        </div>
        <div class="field">
            <%= f.label :first_name %>
            <div class="ui input">
                <%= f.text_field :first_name, placeholder:"名", size:"10" %>
            </div>
          </div>
      </div>
      <div class="field">
        <div id="nickname_field" class="ui fluid input">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, placeholder:"ニックネーム", size:"10" %>
        </div>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <%= f.check_box :use_nickname, {checked: false}, true, false %>
          <label>表示名にニックネームを使用</label>
        </div>
      </div>
      <div class="two fields">
      <div class="inline field">
        <i class="large green calendar icon"></i>
        <%= f.label :birthday %>
        <%= f.text_field :birthday, id:"datepicker", class:"ui input item", size:"10" %>
      </div>
      <div class="inline field">
        <i class="large red female icon" style="margin: 0px;"></i>
        <i class="large male icon" style="margin: 0px;"></i>
          <%= f.label :gender %>
          <div class="ui selection dropdown">
            <%= f.hidden_field :gender %>
            <div class="default text"><%= @user.gender_text %></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="2"><%= @user.gender_label(2) %></div>
              <div class="item" data-value="1"><%= @user.gender_label(1) %></div>
            </div>
          </div>
      </div>
      </div>
      <div class="two fields">
          <div class="inline field">
            <i class="large red bell outline icon"></i>
            <%= f.label :mail_notification  %>
            <label>&nbsp; off &nbsp;</label>
            <div class="ui toggle checkbox">
              <input id="user_mail_notification" name="user[mail_notification]" type="checkbox" value="1" />
              <label>on</label>
            </div>
            <input name="user[mail_notification]" type="hidden" value="0" />
          </div>
          <div class="field">
            <%= f.label :avatar %>
            <%= f.text_field :avatar %>
          </div>
      </div>
      <div class="actions">
        <%= f.submit(class:"positive ui button") %>
      </div>
  <% end %>
</div>