<div id="shared-header" class="ui menu">
  <div id="header-menu" class="ui fixed transparent small inverted main menu">
      <div class="title item">
        <i class="chat icon"></i>
        <b>Locomu:</b> Beta
      </div>

      <div class="right menu">
        <div class="title item">
          <i class="inverted teal user icon"></i>
          <%= current_user_full_name %>
        </div>
        <div class="circular ui secondary green icon tiny button">
        <div class="ui dropdown item">
          <i class="inverted green wrench icon"></i>
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to edit_profile_users_path, method: :get, class:"item" do %>
                <%= semantic_icon('edit icon') %> Edit Profile
            <% end %>
            <%= link_to destroy_user_auth_session_path, method: :delete, class:"item" do %>
                <%= semantic_icon('sign out icon') %> Sign Out
            <% end %>
          </div>
          </div>
        </div>
      </div>
  </div>

  <div id="main-menu" class="ui purple inverted large tiered menu">
    <div class="menu">
      <a class="item">
      </a>
      <a class="active item">
        <i class="large camera icon"></i>
        Photos
      </a>
      <div class="right menu">
      </div>
    </div>
    <div class="ui blue inverted sub menu">
      <a class="item">List</a>
      <a class="item">Upload</a>
    </div>
  </div>
</div>
