<div id="user_photo_form" class="ui form segment">
<%= form_for(@user_photo, html: {multipart: true} ) do |f| %>

  <% if @user_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_photo.errors.count, "error") %> prohibited this user_photo from being saved:</h2>

      <ul>
      <% @user_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui two column grid">
    <div class="column">
      <% if @user_photo.new_record? %>
          <div class="field">
            <%= f.label :uploaded_image %>
            <%= f.file_field :uploaded_image %>
          </div>
      <% end %>
      <% if @user_photo.photo_image.image.present? %>
        <%= user_thumb_tag(@user_photo, class:"rounded ui image") %>
        <div class="ui secondary segment">
            <p>image size: <%= @user_photo.photo_image.image_size/1024 %> KB</p>
            <p>created at: <%= @user_photo.created_at %></p>
        </div>
      <% end %>
    </div>
    <div class="column">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment, maxlength:150, size:"20x4" %>
      </div>

      <div class="actions">
        <%= f.submit class:"ui teal button" %>
      </div>
    </div>
  </div>
<% end %>
</div>
