<% if @user_photo.present? %>
<div id="user_photos_show_user_photo" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h2><%=@user_photo.disp_title%></h2>
    </div>
    <div class="modal-body">
        <%= user_image_tag(@user_photo, class:"rounded ui big image") %>
        <div class="comment"><%= @user_photo.comment %></div>
    </div>
    <div class="modal-footer">
      <div id="smile">
        <%= render 'smile' %>
      </div>
      <div id="action">
          <button class="btn ui black cancel button" type="button" data-dismiss="modal">
            Cancel
          </button>
          <%= link_to({action: 'download_image', id: @user_photo.id}, class:"btn ui green right labeled icon button") do %>
              Download
              <i class="download disk icon"></i>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
