<div id="user_photos_index">

  <div class="ui fluid grid">
      <div class="ui text menu ten wide column">
        <div class="active header item">filter:</div>
        <%= form_tag :search_user_photos, method: :get, class: "field item" do %>
          <i class="calendar icon"></i> Date
          <%= text_field_tag "q", params[:q], id:"datepicker", class:"ui input item" %>
          <%= submit_tag "検索" %></p>
        <% end %>
        <a class="item">
          <i class="user icon"></i> User
        </a>
      </div>

    <div class="right floated six wide column">
      <%= paginate(@user_photos) %>
    </div>
   </div>

  <div class="ui five items">
      <% @user_photos.each do |user_photo| %>
      <div id="images" class="item" data-toggle="modal" data-target="#user_photos_show_user_photo">
        <%= link_to show_modal_user_photo_path(user_photo),
                    remote:true,
                    class:"image user_photo link", 'data-content'=> user_photo.comment do%>

            <div class="ui image" id="image_content">
              <% if user_photo.all_points > 0 %>
                  <div class="ui teal ribbon label">
                    <i class="smile icon"></i>
                    SMILE! <%= user_photo.all_points %>
                  </div>
              <% end %>
              <div id="user_thumb">
                <%= user_thumb_tag(user_photo) %>
              </div>
            </div>
        <% end %>
        <div class="content">
          <%= user_photo.summary %>
              <%= link_to '編集', edit_user_photo_path(user_photo), "class"=>"ui tiny active button" %>
              <%= link_to '削除', user_photo, "class"=>"ui tiny active button",
                          method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <% end %>
    </div>

  <nav>
    <%= paginate(@user_photos) %>
  </nav>
</div>

<div id="user_photos_index_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%# render 'show_user_photo' %>
</div>
