<div id="user_photo_index">
  <%= paginate(@user_photos) %>

  <div class="ui five items">
      <% @user_photos.each do |user_photo| %>
      <div class="item">
        <div class="image user_photo" data-content=<%= user_photo.comment %>>
            <%= user_thumb_link_tag(user_photo) %>
        </div>
        <div class="content">
          <div class="name"><%=user_photo.title%></div>
          <%= link_to '編集', edit_user_photo_path(user_photo), "type"=>"button", "class"=>"btn btn-info btn-sm" %>
          <%= link_to '削除', user_photo, "type"=>"button", "class"=>"btn btn-info btn-sm",
                      method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <% end %>
    </div>

  <nav>
    <%= paginate(@user_photos) %>
  </nav>

  <div id="show_photo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <% #render photo image.. %>
  </div>
</div>