<!DOCTYPE html>
<html>
<head>
  <title>Locomu</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all"  %>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body id="application">

<section class="content">
    <%= render '/shared/header' %>

    <div class="ui fluid grid">
      <div class="one wide column">
      </div>
      <div class="thirteen wide column">
        <section class="main">
            <%= yield %>
        </section>
      </div>
      <div class="two wide column">
        <%= render '/shared/advertise'%>
      </div>
    </div>
</section>
</body>
</html>
